<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cube.css') }}">
    <script src="https://cdn.babylonjs.com/babylon.js"></script>
    <title>Rubik's Cube</title>
</head>
<body>
    <canvas id ='cube'>Il semblerait que votre navigateur ne supporte pas le canevas HTML5</canvas>
    <input class="btn" id="mix" type="button" value="Mix">
    <input class="btn" id="reset" type="button" value="Reset">
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
